@font-face {
	font-family: sans;
	font-weight: 100 900;
	font-display: block;
	src: url("/fonts/inter.woff2") format("woff2");
}

html,
body {
	z-index: 0;
	background-color: var(--systemBackground);
	color: var(--label);
	padding: 0;
	margin: 0;
	font-family: Inter, sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
	box-sizing: border-box;
}

a {
	color: var(--link);
	text-decoration: none;
	cursor: pointer;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
}

.code {
	background: #fafafa;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}

/* FIX */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* TABLES */

table {
	width: 100%;
	min-width: 400px;
	margin-bottom: 3em;
	font-size: 14px;
	word-wrap: normal; /* 12 column layout fixes begin */
	table-layout: auto;
	display: table;
	overflow: hidden;
	overflow-x: auto; /* 12 column layout fixes end */
}

table thead tr {
	border-bottom: 1px solid #333;
	cursor: pointer;
}

table thead tr th {
	font-weight: 600;
	color: #333;
	padding: 3px 1em 3px 0;
	vertical-align: bottom;
}

table tr {
	border-bottom: 1px solid #e6e6e6;
}

table tr td {
	color: #666;
	line-height: 1.5em;
	padding: 0.5em 1em 0.5em 0;
	vertical-align: top;
}

.scroll-table table thead tr th,
.scroll-table table tr td {
	min-width: 80px;
}

.table-3-up table tr td:nth-of-type(1) {
	width: 20%;
}

.table-3-up table tr td:nth-of-type(2),
.table-3-up table tr td:nth-of-type(3) {
	width: 40%;
}

.table-2-up table tr td:nth-of-type(1) {
	width: 20%;
}

.table-2-up table tr td:nth-of-type(2) {
	width: 80%;
}

.table-icon table tr td:nth-of-type(1) {
	width: 8%;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

.table-icon table tr td:nth-of-type(2),
.table-icon table tr td:nth-of-type(3),
.table-icon table tr td:nth-of-type(5) {
	min-width: 130px;
}

@media all and (max-width: 735px) {
	table thead tr th,
	table tr td {
		/*font-size: 11px;*/
		line-height: 1.2em;
	}

	.scroll-table {
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: none;
		margin-left: -2em;
		padding-left: 2em;
		margin-right: -2em;
		margin-top: 2em;
		margin-bottom: 3em;
	}

	.scroll-table ::-webkit-scrollbar {
		width: 0 !important;
	}

	.scroll-table table {
		min-width: 650px;
		width: auto;
		margin-top: 0;
		margin-bottom: 0;
	}

	.scroll-table table thead tr th,
	.scroll-table table tr td {
		min-width: 80px;
		line-height: 1.5em;
	}
}
/* Control Icons */
/*table thead tr th:nth-of-type(1) {
  width: 15%;
}
table thead tr th:nth-of-type(2) {
  width: 45%;
}
table thead tr th:nth-of-type(3) {
  width: 40%;
}*/

/*table tr td {
  vertical-align: middle;
  padding: .8em 1em .8em 0;
} 

table tr td:nth-of-type(1) {
  padding-top:1em;
}      

table tr th:first-child {
  text-align:center;
}

table tr td:first-child {
  text-align:center;
}

table tr td:first-child > * {
  margin: auto;
}*/

caption,
th {
	text-align: left;
}

.message {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid green;
  background-color: lightgreen;
}

.message.error {
	border: 1px solid red;
  background-color: tomato;
}

noscript {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

noscript div {
	display: flex;
	margin: auto;
	text-align: center;
}